.idea
**__pycache__**
**.DS_Store**
*.png
data/*/*.txt
cfgs/*/*stereocarla.yaml

ref_code/
output/
vis_out/
img_out/
output_disparity/
output/
CKPT/
RAFT-Stereo/
EBSNetMEFNet/
ADEC-main/
frpc/
DeepHDR-pytorch/

tmp_code.py
tmop_code2.py